#main {
  background-color: #FFF;
  margin-top: -10px;
  margin-bottom: -50px;
  padding: 10px;
  min-height: 50px;
}

.tooltip {
  position: absolute;
  border: 1px solid #fdd;
  padding: 2px;
  background-color: #fee;;
  opacity: 0.8;
}

.time-series-selection-container {
  width: 770px;
  height: 100px;
  padding: 6px;
  margin: 10px;
  overflow: auto;
  border: 1px solid #575757;
}