body {
  font-family: lucida,sans-serif;
  font-size: 11px;
}

#eruption-graph {
  display: block;
  background-color: #fff;
  width: 800px;
  height: 200px;
}

#eruption-forecast-graph {
  display: block;
  background-color: #fff;
  width: 800px;
  height: 60px;
}

#data_series_checkbox {
    height:120px;
    overflow:scroll;
    overflow-x:hidden;
  display: none;
}

#data_series_box {
  background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #3B3C3E;
    font-size: 12px;
    font-weight: bold;
  width: 500px;
    padding: 10px 7px 5px;
  display: none;
}

#data_series_graph1 {
  display: block;
  width: 800px;
  height: 200px;
}

#data_series_graph2 {
  display: block;
  width: 800px;
  height: 200px;
}

#data_series_graph3 {
  display: block;
  width: 800px;
  height: 200px;
}

#data_series_graph4 {
  display: block;
  width: 800px;
  height: 200px;
}

#data_series_overview {
  display: block;
  width: 800px;
  height: 150px;
}

.tooltip {
  position: absolute;
  border: 1px solid #fdd;
  padding: 2px;
  background-color: #fee;;
  opacity: 0.8;
}